body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 370px;
    height: 500px;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(83, 87, 95, 0.25);
    justify-items: center;
}

h1
{
    color: black;
    justify-content: center;
    margin-bottom: 50px;
}

#textarea 
{
    width: 100%;
    height: 240px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    outline: none;
    resize: none;
    border: 3px solid black;
}

.copy-btn
{
    background-color: rgb(59, 109, 247);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 50px;
    font-size: 20px;
    font-weight: 700;
}

.copy-btn:hover
{
    background-color: gray;
    color: #f10c0c;
}

